body {
    background-color: #f8f8f8;
}
.logo-name {
    margin-top: 100px;
    color: #e6e6e6;
    font-size: 150px;
    font-weight: 800;
    letter-spacing: -10px;
    margin-bottom: 0;
    text-align: center;
}
.btn-area {
    text-align: center;
}