body {
    background-color: #f8f8f8;
}
.logo-name {
    margin-top: 100px;
    color: #e6e6e6;
    font-size: 150px;
    font-weight: 800;
    letter-spacing: -5px;
    margin-bottom: 0;
    text-align: center;
}
.logo-name.in-game {
    margin-top: 20px;
    font-size: 65px;
    font-weight: 300;
    letter-spacing: 2px;
}
.btn-area {
    text-align: center;
}
.btn-area > * {
    margin: 10px;
}
#game-area {
    text-align: center;
}
#opponent-area, #player-area {
    padding: 1% 23% 1% 23%;
}
.oppo-list, .player-list {
    text-align: center;
    margin: auto;
    background-color: lightsteelblue;
}
.opponent-info-box {
    border: 2px solid grey;
    width: 10%;
    text-align: center;
    height: 50px;
    width: 80px;
    margin: auto;
    background-color: white;
}
.player-info-box {
    border: 2px solid lightseagreen;
    width: 10%;
    text-align: center;
    height: 50px;
    width: 80px;
    margin: auto;
    background-color: lightgray;
}
.opponent-card-box, .player-card-box {
    border: 2px solid lightblue;
    text-align: center;
    display: inline-block;
    padding: 4px;
    margin: 2px;
}
.remain-card-box {
    border: 2px solid lightsalmon;
    text-align: center;
    display: inline-block;
    padding: 4px;
    margin: 2px;
}
.card-btn-area {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 3px;
}
.card-btn {
    height: 100%;
    width: 100%;
}